---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import vertiqulLogo from "../images/vertiqul.jpg";
import glodecorLogo from "../images/glodecor.png";
import navajasLogo from "../images/navajasbarbershop.png";

const jobs = [
  {
    url: "https://vertiqul.com",
    company: "Vertiqul",
    logo: {
      src: vertiqulLogo,
      class: "w-8 sm:w-10",
    },
    title: "Developer",
    time: "Aug 2020 - Sep 2022",
    description:
      "A digital publishing agency, where I was responsible for delivering responsive websites and implementing accessibility measures for college clients. I also successfully trained a non-technical team, providing them with the necessary skills to succeed. Additionally, I was instrumental in revamping the company's website updating system, streamlining the process and improving efficiency.",
    tech: ["HTML", "CSS", "JS", "A11Y", "WordPress", "CloudFlare", "Google Analytics"],
  },
  {
    url: "https://glodecorcba.com",
    company: "GloDecor",
    logo: {
      src: glodecorLogo,
      class: "w-12 sm:w-14",
    },
    title: "Developer & Designer",
    time: "Jul 2020",
    description:
      "I designed and developed a website for a local business, putting in the research to ensure the site aligned with their goals. To enhance user engagement, I integrated Google Analytics and a contact form, providing valuable insights and making it easy for potential customers to get in touch.",
    tech: ["Next", "React", "TailWind", "Netlify"],
  },
  {
    url: "https://navajasbarbershop.site",
    company: "Navajas Barber Shop",
    logo: {
      src: navajasLogo,
      class: "w-8 rounded-full sm:w-10",
    },
    title: "Developer & Designer",
    time: "Jun 2020",
    description:
      "I took on the task of designing and developing a website for a local barber shop. My focus was on capturing the unique character of the business through research and thoughtful design. To enhance the user experience, I integrated Google Analytics, providing valuable insights and helping the barber shop stay connected with their customers.",
    tech: ["Next", "React", "Styled Components", "Vercel"],
  },
];
---

<section id="work" class="px-[5vw] py-8">
  <div class="max-w-2xl mx-auto">
    <div class="mb-8 flex gap-2 text-neutral-500 stroke-neutral-500">
      <Icon name="large-suitcase" class="w-[17px]" />
      <h2 class="text-sm font-bold">Work History</h2>
    </div>

    <ul class="flex flex-col gap-12">
      {
        jobs.map((job) => (
          <ol>
            <div class="mb-2 flex items-center">
              <a href={job.url} target="_blank" class="flex items-center">
                <Image
                  src={job.logo.src}
                  alt={`${job.company} Logo`}
                  class={job.logo.class}
                />
                <h3 class="ml-4 font-bold text-xl sm:text-2xl">{job.company}</h3>
                <Icon name="arrow-right" class="ml-2 -rotate-45 w-5" />
              </a>
            </div>

            <div class="mb-2 flex gap-2.5 items-center text-neutral-500">
              {job.title} <div class="w-px h-3.5 bg-neutral-500"></div> {job.time}
            </div>

            <p class="mb-3.5 text-xl">{job.description}</p>

            <ul class="flex flex-wrap gap-4">
              {job.tech.map((tech) => (
                <li class="inline-flex gap-1.5 items-center px-2 py-0.5 bg-neutral-50 border border-neutral-200 text-xs rounded-full text-neutral-500 font-bold">
                  {tech}
                </li>
              ))}
            </ul>
          </ol>
        ))
      }
    </ul>
  </div>
</section>
